---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Benefits from '../components/Benefits.astro';
import Team from '../components/Team.astro';
import Trainings from '../components/Trainings.astro';
import BackgroundVideo from '../components/BackgroundVideo.astro';
---

<Layout title="RD Medicine">
  <Header />
  <BackgroundVideo />
  <main class="text-white w-full">
    <Hero />
    <Benefits />
    <Team />
    <Trainings />
  </main>
  <footer></footer>
</Layout>
