---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import BackgroundVideo from '../components/BackgroundVideo.astro';
---

<Layout title="RD Medicine">
  <Header />
  <BackgroundVideo />
  <main class="container text-white">
    <Hero />
  </main>
  <footer></footer>
</Layout>
