---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button';
---

<Layout title="Soft Everywhere - Seu site veloz e elegante">
	<main class="container mx-auto">
		<Button>
			Entrar em contato
		</Button>
	</main>
</Layout>