<img
  id="bg-image-mobile"
  class="absolute left-0 top-0 z-0 w-full h-[668px] md:h-[1024px] object-cover sm:hidden"
  src="/images/background-video-mobile-poster.webp"
  alt="Mobile video background image"
  width="100%"
  height="668px"
/>
<img
  id="bg-image-desktop"
  class="absolute left-0 top-0 z-0 hidden w-full h-[768px] object-cover sm:block"
  src="/images/background-video-mobile-poster.webp"
  alt="Desktop video background image"
  width="100%"
  height="668px"
/>
<video
  id="bg-video-mobile"
  width="100%"
  height="668px"
  autoplay
  loop
  muted
  poster="/images/background-video-mobile-poster.webp"
  src="/videos/background-video-mobile.mp4"
  class="absolute left-0 top-0 z-0 block w-full h-[668px] md:h-[1024px] object-cover sm:hidden"
></video>
<video
  id="bg-video-desktop"
  width="100%"
  height="768px"
  autoplay
  loop
  muted
  poster="/images/background-video-poster.webp"
  src="/videos/background-video.mp4"
  class="absolute left-0 top-0 z-0 hidden w-full h-[768px] object-cover sm:block"
></video>

<div
  class="absolute inset-0 z-[1] h-[668px] md:h-[768px] w-full bg-[rgba(0,0,0,0.75)]"
>
</div>
<script>
  (
    document.querySelector('#bg-video-mobile') as HTMLVideoElement
  ).addEventListener('play', () => {
    document.querySelector('#bg-image-mobile')!.classList.add('hidden');
  });
  (
    document.querySelector('#bg-video-desktop') as HTMLVideoElement
  ).addEventListener('play', () => {
    document.querySelector('#bg-image-desktop')!.classList.add('sm:hidden');
  });
</script>
