---
import BenefitsCardIcon, { CardIcon } from './CardIcon';
export interface Props {
  type: CardIcon;
}

const { type } = Astro.props;
---

<div
  class="flex p-6 flex-col gap-6 flex-1 self-stretch rounded-2xl bg-[#12193E] min-w-[230px]"
>
  <BenefitsCardIcon type={type} />
  <slot />
</div>
