---
import CTA from './CTA.astro';
import BenefitsCard from './BenefitsCard.astro';
import BenefitsCardIcon from './BenefitsCardIcon.astro';
import Section from './Section.astro';
import { Image } from '@astrojs/image/components';
---

<Section>
  <div class="container flex flex-col gap-y-16 items-baseline relative z-[3]">
    <h2 class="font-title font-bold uppercase text-4xl leading-[44px]">
      Veja as <span class="text-[#FF3158] underline">vantagens</span> de ser um
      RD
    </h2>
    <div class="flex items-stretch gap-x-6">
      <BenefitsCard>
        <BenefitsCardIcon type="pen" />
        <p>
          <span class="text-[#FF3158]">3 horas de revisões</span> ao vivo
          baseadas em questões toda segunda e quarta à noite ministradas em
          português.
        </p>
      </BenefitsCard>
      <BenefitsCard>
        <BenefitsCardIcon type="people" />
        <p>
          RD produtividade: <span class="text-[#FF3158]">Mentoria 1:1</span> de
          estudos, produtividade e otimização de tempo para adequar o cronograma
          de estudos à sua rotina.
        </p>
      </BenefitsCard>
      <BenefitsCard>
        <BenefitsCardIcon type="graduate" />
        <p>
          <span class="text-[#FF3158]">Curso extensivo</span>
           para o STEP 1 em inglês e português com didática simples e sistema de
          revisões constantes, lecionado por professores com as maiores notas do
          Brasil e residentes nas maiores instituições americanas.
        </p>
      </BenefitsCard>
      <BenefitsCard>
        <BenefitsCardIcon type="chart" />
        <p>
          A RD med procura as melhores <span class="text-[#FF3158]"
            >oportunidades de estágios</span
          > de acordo com o seu perfil, cuida do seu currículo e documentação e
          escreve os modelos de email que você precisa enviar às instituições.
        </p>
      </BenefitsCard>
    </div>
    <CTA className="self-center">Conhecer serviços</CTA>
  </div>
  <Image
    class="absolute bottom-0 right-0 z-[2]"
    src="/images/benefits-line-pattern.png"
    alt="padrào de linhas de fundo"
    width={398}
    height={436}
    format="webp"
  />
</Section>
