---
export interface Props {
  className?: string;
}

const { className = '' } = Astro.props;
---

<button
  class={`rounded-[70px] bg-[#203DE2] px-16 py-3 text-sm leading-6 ${className}`}
>
  <slot />
</button>
