---
type HTMlElementTypes = astroHTML.JSX.AnchorHTMLAttributes &
  astroHTML.JSX.ButtonHTMLAttributes;
export interface Props extends HTMlElementTypes {
  className?: string;
  class?: never;
}

const { className = '', ...rest } = Astro.props;
---

{
  'href' in rest ? (
    <a
      {...rest}
      class={`rounded-[70px] bg-[#203DE2] px-16 py-3 text-sm ${className}`}
    >
      <slot />
    </a>
  ) : (
    <button
      {...rest}
      class={`rounded-[70px] bg-[#203DE2] px-16 py-3 text-sm ${className}`}
    >
      <slot />
    </button>
  )
}

<script>
  import { openForm } from 'utils/form';
  import type { SendFormData } from 'api/sendForm';
  document.querySelectorAll('button[data-formid]').forEach((button) => {
    button.addEventListener('click', () => {
      openForm(
        (button as HTMLElement).dataset.formid as SendFormData['sheetName'],
      );
    });
  });
</script>
