---
import CTA from './CTA.astro';
---

<div
  class="hidden relative z-10"
  aria-labelledby="Quero fazer parte"
  role="dialog"
  aria-modal="true"
  id="form"
>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full justify-center text-center items-center p-0">
      <div
        id="backdropForm"
        class="fixed inset-0 bg-gray-800 bg-opacity-50 transition-opacity cursor-pointer"
      >
      </div>
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all my-8 w-full max-w-lg"
      >
        <form name="leadForm">
          <div class="bg-white px-4 pt-5 p-6 pb-4">
            <div class="flex justify-between w-full items-start">
              <h4
                class="text-[#00093E] text-2xl font-semibold leading-none mb-10"
              >
                <span class="pt-BR">Venha fazer parte</span>
                <span class="en">Join us</span>
              </h4>
              <button type="button" id="closeForm">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M18 6L6 18M6 6L18 18"
                    stroke="#00093E"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </button>
            </div>
            <div class="mt-2 w-full flex flex-col gap-y-6">
              <div>
                <label class="block mb-1 text-sm text-gray-700" for="name">
                  <span class="pt-BR">Nome</span>
                  <span class="en">Name</span>
                </label>
                <input
                  type="text"
                  name="name"
                  placeholder="Escreva seu nome"
                  class="border-2 border-gray-300 rounded-md w-full p-2 text-black"
                  autocomplete="name"
                  required
                />
              </div>
              <div>
                <label class="block mb-1 text-sm text-gray-700" for="email">
                  <span class="pt-BR">E-mail</span>
                  <span class="en">E-mail</span>
                </label>
                <input
                  type="text"
                  name="email"
                  placeholder="Escreva seu e-mail"
                  class="border-2 border-gray-300 rounded-md w-full p-2 text-black"
                  autocomplete="email"
                  required
                />
              </div>
              <div>
                <label class="block mb-1 text-sm text-gray-700" for="phone">
                  <span class="pt-BR">Número de celular</span>
                  <span class="en">Phone number</span>
                </label>
                <input
                  type="text"
                  name="phone"
                  placeholder="Escreva seu número de celular"
                  class="border-2 border-gray-300 rounded-md w-full p-2 text-black"
                  autocomplete="tel"
                  required
                />
              </div>
              <input type="hidden" name="sheetName" />
            </div>
          </div>
          <div class="py-3 flex flex-row-reverse px-6">
            <CTA className="group disabled:bg-gray-400" type="submit">
              <span class="relative">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  class="absolute -left-2 -translate-x-full group-disabled:opacity-100 opacity-0"
                  ><path
                    d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"
                    ><animateTransform
                      attributeName="transform"
                      type="rotate"
                      dur="0.75s"
                      values="0 12 12;360 12 12"
                      repeatCount="indefinite"></animateTransform></path
                  ></svg
                >
                <span class="pt-BR">Enviar</span>
                <span class="en">Submit</span>
              </span>
            </CTA>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  import type { SendFormData } from 'api/sendForm';
  import sendForm from 'api/sendForm';
  import Inputmask from 'inputmask';
  import { closeForm } from 'utils/form';
  const closeFormButton = document.querySelector('#closeForm')!;
  const backdropForm = document.querySelector('#backdropForm')!;
  const form = document.querySelector('form')!;
  const email = form.querySelector('input[name="email"]') as HTMLInputElement;
  const submitButton = form.querySelector(
    'button[type="submit"]',
  ) as HTMLInputElement;

  const im = Inputmask({
    alias: 'email',
    showMaskOnFocus: false,
    showMaskOnHover: false,
  });
  im.mask(email);

  async function handleFormSubmit(event: Event) {
    event.preventDefault();
    submitButton.disabled = true;
    const formData = new FormData(form);
    const body: SendFormData = {
      name: formData.get('name') as string,
      email: formData.get('email') as string,
      phone: (formData.get('phone') as string).replace(/^\+/, ''),
      sheetName: formData.get('sheetName') as SendFormData['sheetName'],
    };
    await sendForm(body);
    submitButton.disabled = false;
    closeForm();
  }

  closeFormButton.addEventListener('click', closeForm);
  backdropForm.addEventListener('click', closeForm);
  form.addEventListener('submit', handleFormSubmit);
</script>
