---
import CTA from './CTA.astro';
---

<section
  class="container flex flex-col h-[564px] md:h-[664px] justify-between pb-4 relative z-[1]"
>
  <div class="mt-8 md:mt-40 flex flex-col gap-y-4 lg:gap-y-8 items-baseline">
    <h1 class="text-3xl md:text-5xl font-title font-bold leading-snug">
      <span class="pt-BR">
        Não é sobre passar em provas, é sobre mudar a sua
        <span class="text-[#FF3158] underline">história</span> e criar um
        <span class="text-[#FF3158] underline">legado</span>
      </span>
      <span class="en">
        It's not about passing tests, it's about changing your
        <span class="text-[#FF3158] underline">history</span> and create a
        <span class="text-[#FF3158] underline">legacy</span>
      </span>
    </h1>
    <h2 class="text-sm sm:text-base mb-4 lg:mb-0 max-w-[800px]">
      <span class="pt-BR">
        A caminhada antes árdua e solitária está agora aberta a qualquer
        brasileiro que deseje se diferenciar completamente como médico bilíngue
        e com seu diploma validado nos EUA.
      </span>
      <span class="en">
        The once arduous and lonely journey is now open to anyone. Brazilian who
        wants to completely differentiate himself as a bilingual doctor and with
        your diploma validated in the USA.
      </span>
    </h2>
    <CTA href="#training">
      <span class="pt-BR">Conhecer serviços</span>
      <span class="en">Explore services</span>
    </CTA>
  </div>

  <svg
    class="self-center"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
  >
    <path
      d="M7 13L12 18L17 13"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <animate
        attributeName="opacity"
        values="0;0;1;1;1;1;1;0;0;0;0;0;0;0"
        dur="5s"
        repeatCount="indefinite"></animate>
    </path>
    <path
      d="M7 6L12 11L17 6"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</section>
