<section class="container flex flex-col h-[664px] justify-between pb-4">
  <div class="mt-40 flex flex-col gap-y-8 items-baseline">
    <h1 class="text-5xl font-serif">
      Não é sobre passar em provas, é sobre mudar a sua <span
        class="text-[#FF3158] underline">história</span
      > e criar um <span class="text-[#FF3158] underline">legado</span>
    </h1>
    <h2>
      A caminhada antes árdua e solitária está agora aberta a qualquer
      brasileiro que deseje se diferenciar completamente como médico bilíngue e
      com seu diploma validado nos EUA.
    </h2>
    <button class="rounded-[70px] bg-[#203DE2] px-16 py-3 text-sm leading-6">
      Conhecer serviços
    </button>
  </div>

  <svg
    class="self-center"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
  >
    <path
      d="M7 13L12 18L17 13"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <animate
        attributeName="opacity"
        values="0;0;1;1;1;1;1;0;0;0;0;0;0;0"
        dur="5s"
        repeatCount="indefinite"></animate>
    </path>
    <path
      d="M7 6L12 11L17 6"
      stroke="white"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</section>
