---
import { inviteParagraph } from 'data/invite';
import CTA from './CTA.astro';
import Section from './Section.astro';
---

<Section
  className="bg-gradient-to-b from-[#001473] to-[#000E53] py:0 lg:py-0 md:py-0"
>
  <div
    class="lg:bg-[url('/images/invite-elipse-desktop.webp')] md:bg-[url('/images/invite-elipse-tablet.webp')] bg-[url('/images/invite-elipse-mobile.webp')] w-full bg-no-repeat bg-center bg-contain lg:bg-auto"
  >
    <div class="container text-center py-14 md:py-[72px] lg:py-24">
      <h2
        class="text-4xl mb-4 lg:mb-5 md:mb-8 font-semibold leading-[44px] uppercase tracking-[-0.72px] font-title"
      >
        <span class="pt-BR">
          Vamos <span class="text-[#FF3158] underline">juntos?</span>
        </span>
        <span class="en">
          let's go <span class="text-[#FF3158] underline">together</span>
        </span>
      </h2>
      <article
        class="space-y-6 md:space-y-[30px] text-gray-300 text-base font-normal leading-normal md:text-xl mx-auto lg:max-w-[940px] lg:mb-16 md:mb-14"
      >
        {
          inviteParagraph.map(({ paragraph, paragraphEn }) => (
            <p>
              <span class="pt-BR">{paragraph}</span>
              <span class="en">{paragraphEn}</span>
            </p>
          ))
        }
      </article>
      <CTA className="hidden md:inline">
        <span class="pt-BR"> Quero fazer parte</span>
        <span class="en"> I want to be part</span>
      </CTA>
    </div>
  </div>
</Section>
