---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section
  class={`bg-[#000830] w-full py-14 md:py-[72px] lg:py-24 relative z-[1] ${
    className || ''
  }`}
>
  <slot />
</section>
