---
export interface Props extends astroHTML.JSX.HTMLAttributes {
  className?: string;
  class?: never;
}

const { className, ...rest } = Astro.props;
---

<section
  {...rest}
  class={`bg-[#000830] w-full py-14 md:py-[72px] lg:py-24 relative z-[1] ${
    className || ''
  }`}
>
  <slot />
</section>
