---
import { Image } from '@astrojs/image/components';
import Section from './Section.astro';
import CarouselTrainings from './CarouselTrainings.astro';
import CarouselScreen from './CarouselScreen.astro';
import { carouselTrainingsItems, carouselTrainingsButtons } from 'carouselData';
---

<Section>
  <div class="relative z-[2]">
    <div class="container mb-16">
      <div class="md:text-center max-w-[930px] mx-auto">
        <h2
          class="font-title font-bold uppercase text-3xl md:text-4xl leading-[44px] mb-5"
        >
          Nossos <span class="text-[#FF3158] underline">treinamentos</span>
        </h2>
        <h3 class="text-gray-300 hidden md:block">
          A RD Med te prepara para as provas, te ensina inglês para a vida e
          para os estágios e te mentora passo a passo no processo, gerando
          networking, te posicionando nos estágios e cuidando de todos os
          detalhes da sua aplicação. Confira cada um dos nossos treinamentos:
        </h3>
      </div>
    </div>
    <CarouselTrainings id="trainingCarousel" />
  </div>
  <Image
    class="absolute top-0 left-0 z-[1]"
    src="/images/trainings-draw-line-1.png"
    alt="padrào de linhas de fundo"
    width={398}
    height={436}
    format="webp"
  />
</Section>
<script>
  import carouseInit from 'utils/carousel';
  import { carouselTrainingsItems, carouselTeamButtons } from 'carouselData';

  let active = 0;

  carouseInit({
    carouselItems: carouselTrainingsItems,
    buttonSelectors: carouselTeamButtons.map(
      (_, index) => `#trainingCarousel-button-${index}`,
    ),
    carouselSelector: '#trainingCarousel',
    itemSpacing: 32,
    onChange: triggerActive,
    ignoreScrollEnd: true,
  });

  let shownItems = Math.floor(
    document.querySelector('#trainingCarousel')!.clientWidth /
      (document.querySelector('#trainingCarousel *')!.clientWidth + 32),
  );
  window.addEventListener('resize', () => {
    shownItems = Math.floor(
      document.querySelector('#trainingCarousel')!.clientWidth /
        (document.querySelector('#trainingCarousel *')!.clientWidth + 32),
    );
    handleFade();
  });

  function handleFade() {
    const isMobile = window.innerWidth < 640;
    if (isMobile) {
      return;
    }
    if (active < carouselTrainingsItems.length - shownItems) {
      document
        .querySelector('#trainingCarousel-fade-left')!
        .classList.add('sm:hidden');
      document
        .querySelector('#trainingCarousel-fade-right')!
        .classList.remove('sm:hidden');
      return;
    }
    document
      .querySelector('#trainingCarousel-fade-right')!
      .classList.add('sm:hidden');
    document
      .querySelector('#trainingCarousel-fade-left')!
      .classList.remove('sm:hidden');
  }

  const handleStyleActive = (item: Element, index: number) => {
    const description = item.querySelector('p:last-of-type')!;
    if (index !== active) {
      item.classList.remove('bg-[#203DE2]');
      description.classList.remove('text-white');
    } else {
      item.classList.add('bg-[#203DE2]');
      description.classList.add('text-white');
    }
  };

  function triggerActive(newActive: number) {
    active = newActive;
    handleFade();

    document
      .querySelectorAll('#trainingCarousel > *')
      .forEach(handleStyleActive);
    document
      .querySelectorAll('#trainingCarouselMobile > *')
      .forEach(handleStyleActive);
  }
  triggerActive(0);
</script>
